* {
    padding: 0;
    margin: 0;
}

.container {
    width: 1280px;
    margin: 0 auto;
}

section {
    padding: 50px;
}

.left {
    float: left;
}

.right {
    float: right;
}

.clear::after {
    display: block;
    content: "";
    clear: both;
}

h2 {
    padding-bottom: 30px;
    color: #445161;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    text-align: center;
}

h4 {
    color: #445161;
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
}

p {
    width: 100%;
    color: #333;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

/*-------------------------------------header----------*/

.header-primary {
    padding: 50px;
    background: #445162;
}

h1 {
    margin-bottom: 50px;
    color: #fff;
    font-size: 60px;
    font-weight: 400;
    line-height: 44px;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, .3);
}

.header-primary ul {
    min-width: 422px;
    padding-left: 30px;
}

.header-primary ul li {
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, .3);
    list-style-image: url(../img/check%20icon.png);
}

.whiteRectangle {
    width: 469px;
    height: 214px;
    margin-bottom: 9px;
    background: #fff;
}

/*------------------------------------------about------*/

.first h2 {
    text-align: left;
}

.about {
    width: 649px;
}

.about p {
    padding-bottom: 20px;
}

.blueRectangle {
    width: 430px;
    height: 245px;
    background-color: #445161;
}

/*------------------------------------------pluses-----*/

.second {
    background: #f5f5f5;
}

.second li {
    width: 526px;
    padding-bottom: 35px;
    padding-left: 40px;
    list-style-type: none;
    background: url(../img/cross.jpg)no-repeat;
    background-position: 0% 5%;
}

/*------------------------------------screenshots------*/

.screenshot {

    width: 200px;
    height: 150px;
    margin: 0 15px 0 0;
    background: #445161;
}

.third figcaption {
    overflow: hidden;
    width: 359px;
}

.height30 {
    clear: both;
    height: 30px;
}

/*--------------------------------------------avatar---*/

.fourth {
    background: #f5f5f5;
}

.avatar {
    display: block;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    margin: 0 16px 0 0;
    background: #445161;
}

.avatar img {
    max-width: 100%;
    max-height: 100%;
}

.feedback {
    position: relative;
    margin: 0 0 0 103px;
    width: 436px;
    padding: 16px 20px 16px 13px;
    border-radius: 5px;
    background: #ebebeb;
}

.feedback::before {
    position: absolute;
    top: 31px;
    left: -13px;
    content: url(../img/arrow.png);
}

.feedback p {
    padding: 0 0 15px 0;
    font-size: 14px;
    font-style: italic;
    line-height: 18px;
    letter-spacing: .4px;
}

.feedback span {
    color: #989898;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
}

.height24 {
    clear: both;
    height: 24px;
}

/*---------------------------------------------offer---*/

.offer {
    width: 300px;
    padding: 17px 0 20px 0;
    border-radius: 5px;
    margin: 0 0 0 45px;
    background: #445162;
}

.standart {
    margin: 193px 0 0 100px;
}

.premium {
    margin: 95px 0 0 45px;
}

.offer h4 {
    color: #fff;
    text-align: center;
}

.offer span {
    display: block;
    width: 297px;
    margin: 18px 2px;
    background: #fff;
    color: #445162;
    font-size: 40px;
    font-weight: 400;
    text-align: center;
}

.offer ol {
    margin: 0 0 20px 20px;
}

.offer li {
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    list-style-position: inside;
}

.offer .button-buy {
    display: block;
    width: 260px;
    height: 14px;
    margin: 0 auto;
    padding: 13px 0;
    border-radius: 5px;
    background: #fff;
    color: #445161;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}

.offer .button-buy:hover {
    background: #ebebeb;
    font-size: 16px;
    font-weight: 800;
    transform: scale(1.1);
    transition: .3s;
    -o-transition: .3s;
    -moz-transition: .3s;
    -webkit-transition: .3s;
}

.offer .button-buy:active {
    background: #445162;
}

/*----------------------------------------contact us---*/

.sexth {
    min-height: 409px;
    background: #445162;
}

.sexth h3 {
    margin-bottom: 31px;
    color: #fff;
    text-align: center;
    font-size: 30px;
    font-weight: 400;
}

.contact-us {
    margin: 0 0 0 199px;
    text-align: center;
}

.form-element {
    display: block;
    width: 480px;
    padding: 11px 10px;
    border: 0 none;
    border-radius: 5px;
    margin-bottom: 21px;
    color: #445162;
    font-size: 16px;
    font-weight: 400;
}

.form-element:focus {
    outline: none;
}

.contact-us textarea {
    height: 140px;
    margin-bottom: 35px;
}

.form-button {
    display: block;
    width: 140px;
    height: 18px;
    margin: 0 auto;
    padding: 8px 0;
    border-radius: 5px;
    background: #fff;
    color: #445162;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    text-transform: uppercase;
}

.form-button:hover {
    background: #ebebeb;
    font-size: 18px;
    font-weight: 800;
    transform: scale(1.1);
    transition: .3s;
    -o-transition: .3s;
    -moz-transition: .3s;
    -webkit-transition: .3s;
}

.form-button:active {
    background: #445162;
}

.contacts {
    margin: 0 238px 16px 0;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.contacts li {
    position: relative;
    margin-bottom: 21px;
    list-style-type: none;
}

.skype:before {
    position: absolute;
    top: 0;
    left: -30px;
    display: block;
    width: 24px;
    height: 26px;
    background: url(../img/skype_icon.png);
    content: "";
}

.icq:before {
    position: absolute;
    top: 0;
    left: -30px;
    display: block;
    width: 26px;
    height: 26px;
    background: url(../img/icq_icon.png);
    content: "";
}

.email:before {
    position: absolute;
    top: 0;
    left: -30px;
    display: block;
    width: 22px;
    height: 22px;
    background: url(../img/email_icon.png);
    content: "";
}

.phone:before {
    position: absolute;
    top: 0;
    left: -30px;
    display: block;
    width: 24px;
    height: 23px;
    background: url(../img/phone_icon.png);
    content: "";
}

.social {
    margin: 0 194px 0 0;
}

.social > li {
    display: inline-block;
    width: 42px;
    height: 42px;
    border-radius: 50%;
}

.twitter {
    background: url(../img/twitter.png);
}

.twitter:hover {
    background: url(../img/twitter.png) #08a0e9;
    transform: scale(1.1);
    transition: .3s;
    -o-transition: .3s;
    -moz-transition: .3s;
    -webkit-transition: .3s;
    cursor: pointer;
}

.facebook {
    background: url(../img/facebook.png);
}

.facebook:hover {
    background: url(../img/facebook.png) #3b5998;
    transform: scale(1.1);
    transition: .3s;
    -o-transition: .3s;
    -moz-transition: .3s;
    -webkit-transition: .3s;
    cursor: pointer;
}

.linkedin {
    background: url(../img/linkedin.png);
}

.linkedin:hover {
    background: url(../img/linkedin.png) #0077B5;
    transform: scale(1.1);
    transition: .3s;
    -o-transition: .3s;
    -moz-transition: .3s;
    -webkit-transition: .3s;
    cursor: pointer;
}

.google {
    background: url(../img/google.png);
}

.google:hover {
    background: url(../img/google.png) #dd4d39;
    transform: scale(1.1);
    transition: .3s;
    -o-transition: .3s;
    -moz-transition: .3s;
    -webkit-transition: .3s;
    cursor: pointer;
}

.youtube {
    background: url(../img/youtube.png);
}

.youtube:hover {
    background: url(../img/youtube.png) #dd4d39;
    transform: scale(1.1);
    transition: .3s;
    -o-transition: .3s;
    -moz-transition: .3s;
    -webkit-transition: .3s;
    cursor: pointer;
}

/*--------------------------------------------footer---*/

.footer-primary {
    padding: 0;
    text-align: center;
}

.footer-primary span {
    color: #445162;
    font-size: 12px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: .3px;
}